<div class="container main-container">
    <div class="row">
      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 main-left">
        <h1>Welcome to CoronaMeter👋</h1>
        <h3>Get Vaccine details from all over the World 🚀</h3>
        <div class="social-media">
          <h2>Follow US On</h2>
          <a href="https://www.instagram.com/sumit.4945/" target="_blank"><i class="fab fa-instagram fa-5x insta"></i></a>
          <a href="https://twitter.com/sumitrajraj508" target="_blank"><i class="fab fa-twitter fa-5x tweet"></i></a>
          <a href="https://www.facebook.com/profile.php?id=100009470252792" target="_blank"><i class="fab fa-facebook fa-5x fb"></i></a>

        </div>
        <a class="get-btn" href="#search">Get Started</a>
      </div>
      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 main-right">
        <img src="assets/images/undraw_medical_care_movn.svg" alt="corona-image" class="corona-image">
      </div>
    </div>
  </div>

  <div class="container search-container" id="search">
    <h1>Select the Country 👀 ?</h1>
    <select class="countrySelect" #box (change)="getCountry(box.value)">
      <option value="WorldWide" selected>WorldWide</option>
      <option *ngFor="let countries of countries" value="{{ countries }}">
        {{ countries }}
      </option>
    </select>
  </div>

  <div class="container search-container1 chart" id="search">
    <canvas baseChart
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [type]="'line'">
  </canvas>
  </div>